<div class="headline">
  <h1>HYPERSPACE LAB</h1>
  <p class="sub-header"><%= title 'This is how the future sounds' %></p>
</div>
<%= cell :products %>
<%# cell(:products).(:grid) %>
<script src="/assets/slider.js">
</script>